// color
$body_colors: #f1f1f1;
$white: #fff;
$border: #e9ecef;
$black: #000;
$black_light: #1a1a1a;
$black_light2: #020105;
$gray: #333;
$gray_light: #b3b3b3;
$gray_light2: #343a40;
$blue: #27549B;
$red: #ff0000;
$green: #00ae11;

// fonts Golos
$golos_fonts: "Golos Text", sans-serif;
$roboto: "Roboto", sans-serif;
